addict==2.4.0
einops==0.3.2
inplace_abn==1.1.0
numpy==1.21.5
Pillow==9.0.0
PyYAML==6.0
randaugment==1.0.2
scikit_learn==1.0.2
scipy==1.7.3
termcolor==1.1.0
timm==0.4.12
torch==1.9.0+cu111
torchvision==0.10.0+cu111
tqdm==4.62.3
yapf==0.32.0
